.modal-content::-webkit-scrollbar {
  width: 4px;
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
  height: 100px; /* 스크롤바 최소 높이 */
}

.modal-content::-webkit-scrollbar-track {
  background-color: transparent; /* 스크롤바 트랙 배경 투명 */
}
